.carrito{
    color:#fafafa;
}


.todoLogo{
    padding: 10px;
    border-radius: 20px;
}

.todoLogo:hover{
    background-color: rgba(255, 255, 255, 0.06);
}



@media (max-width: 1100) {
    .carrito-btn {
        background-color: red;
        margin-right: auto;
        margin-left: 50px;
    }
  }

.nombreConsola{
    color: white;
    margin-right: 50px;
}

.nombreConsola:hover{
    background-color: red;
}

.img-plataforma{
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}