@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    font-family: 'Oxygen';
}

img {
    width: fit-content;
    height: 400px;
    
}

.logo-name{
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-weight: 100;
}


.btn-color {
    color: rgb(255, 254, 254) !important;
    background-color: rgba(255, 0, 0, 0.39) !important;
}